@font-face {
  font-family: "DistantGalaxy";
  src: url("fonts/DISTGRG_-webfont.woff") format("woff"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("fonts/DISTGRG_-webfont.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Aurebesh";
  src: url("fonts/Aurebesh.ttf") format("truetype");
}

header {
  height: 200px;
  background-image: url("images/Stars.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 200px;
}

nav li {
  display: inline;
  margin: 0 15px;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: DistantGalaxy;
  font-size: 30px;
  color: white;
}

nav a:hover {
  color: #ffe81f;
}

.divider {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(41, 7, 57, 0.99)),
    url("images/Stars.png");
  height: 60px;
}

main {
  display: flex;
  justify-content: space-around;
  background-image: url("images/tatooine.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 600px;
  gap: 100px;
}

.desc-Section {
  margin: 3%;
  background: #84827584;
  border-radius: 8%;
  border: 3px solid rgb(89, 89, 87);
  width: 1600px;
  display: flex;
  flex-direction: column;
}

.desc-Section h2 {
  animation: fontTransitionH2 5s ease-in-out;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 36px;
  margin: 3%;
}

.desc-Section p {
  animation: fontTransitionP 7s ease-in-out;
  font-family: "IBM Plex Mono";
  font-size: 24px;
  margin-left: 3%;
}

@keyframes fontTransitionH2 {
  from {
    font: 36px "Aurebesh";
    line-height: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    font: 36px bold "IBM Plex Mono";
    line-height: 1;
    opacity: 100%;
  }
}

@keyframes fontTransitionP {
  from {
    font: 26px "Aurebesh";
    line-height: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    font: 24px "IBM Plex Mono";
    line-height: 1;
    opacity: 100%;
  }
}

#dataText {
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
  margin: 3%;
}

.img-Section {
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-Section p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 13px;
  background-color: #fbff0069;
}

.img-Section img {
  border-radius: 5%;
  height: 800px;
  width: 400px;
}

footer {
  display: flex;
  font-size: 13px;
  color: #b5b6b8;
  background: #210208;
  align-items: center;
}

#linkButton {
  height: 50px;
  width: 150px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: #290739;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}

#linkButton:hover {
  background: darkorange;
  transform: scale(1.2);
}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .desc-Section {
    width: 600px;
  }

  .img-Section {
    width: 400px;
  }

  #linkButton {
    width: 100px;
  }
}

@media screen and (max-width: 600px) {
  .desc-Section {
    width: 300px;
  }

  .img-Section {
    width: 300px;
  }

  .desc-Section h2 {
    font-size: 25px;
  }

  .desc-Section p {
    font-size: 20px;
    margin: 3%;
  }
}

@media screen and (max-width: 300px) {
  .img-Section {
    display: none;
  }

  .desc-Section {
    width: auto;
    border: none;
    background: none;
  }
  .desc-Section h2 {
    background-color: #84827584;
  }
  .desc-Section p {
    background-color: #84827584;
  }

  #linkButton {
    width: auto;
  }
}

@media screen and (max-width: 200px) {
  header img {
    display: none;
  }
}
