.box{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

header {
    height: 40vh;
    width: 100vw;
    background-color: #495057;
}

main {
    display: flex;
    justify-content: space-around;
    max-height: 80vh;
  }

footer {
    display: flex;
    font-size: 13px;
    color: #495057;
    margin-left: 5%;
  }