.box{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

header {
    height: 32vh;
    width: 100vw;
    background-image: url('images/Stars.png');
}

main {
    display: flex;
    justify-content: space-around;
    max-height: 100vh;
    margin-top: 20px;
  }

footer {
    display: flex;
    font-size: 13px;
    color: #495057;
    margin-left: 5%;
  }