@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: sans-serif;
  padding: 90px 20px 0;
  background: linear-gradient(98.76deg, #1c0e0e 24.39%, #1c1833 81.33%);
  height: 100%;
}

.todo {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.header {
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.nav-linkMain {
  color: red;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.logoMarvel {
  width: 90px;
  margin: 0 0 0 20px;
}

.nav-menu {
  display: flex;
  list-style: none;
  position: relative;
  z-index: 99; /* Valor del z-index aumentado */
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #034574;
  transition: 0.5s;
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

/* ---------------------------------------------- */

.spiderman {
  position: fixed;
  left: -10%;
  height: 90%;
  width: auto;
  z-index: 2;
  bottom: 0;
}

.contenido {
  height: 100%;
  display: flex;
  position: absolute;
  z-index: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 5%;
}

.imagenNWH {
  width: 100%;
}

.descripcion {
  margin: 10% 0 0 0;
  color: #ffff;
  font-size: 1rem;
  padding: 0 5%;
  font-family: "Montserrat", sans-serif;
}

.botonVerMas {
  border: #ffff solid 2px;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: transparent;
  cursor: pointer;
  margin: 10% 0 0 5%;
}

.textobotonVerMas {
  text-decoration: none;
  color: #ffff;
}

/* -------------------------------------------- */
/* MOBILE */

@media (max-width: 768px) {
  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: linear-gradient(98.76deg, #14080d 24.39%, #140f26 81.33%),
      rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #83c5f7;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}

/* ----------------------------------------------------------- */

@media (min-width: 769px) and (max-width: 1024px) {
  .todo {
    padding: 10% 5%;
    background-color: transparent;
  }

  .contenido {
    height: 90%;
    width: 90%;
    background: rgba(0, 0, 0, 0.2);
    border: 3px solid rgba(255, 255, 255, 0.06);
  }

  .header {
    width: 100%;
    position: static;
    top: 0;
    height: 10%;
    margin: 3% 0%;
  }

  .informacion {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .descripcion {
    margin: 0;
    font-size: 1.5rem;
    padding: 2%;
  }

  .textobotonVerMas {
    font-size: 1.3rem;
  }

  .botonVerMas {
    padding: 10px 50px;
    margin: 5% 0;
  }

  .spiderman {
    left: -20%;
    height: 98%;
  }
}

/* ----------------------------------------------------------- */

@media (min-width: 1025px) {
  .contenido {
    height: 90%;
    width: 90%;
    background: rgba(0, 0, 0, 0.3);
    border: 3px solid rgba(255, 255, 255, 0.06);
    padding: 0 0 0 26%;
  }

  .header {
    width: 100%;
    position: static;
    top: 0;
    height: 10%;
    margin: 3% 0%;
  }

  .descripcion {
    margin: 0;
    color: #ffff;
    font-size: 1.4rem;
    padding: 0 5%;
    font-family: "Montserrat", sans-serif;
  }

  .informacion {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .imagenNWH {
    width: 80%;
    margin: 0 10%;
  }

  .spiderman {
    left: 0%;
    height: 98%;
    position: absolute;
    z-index: 3;
  }

  .textobotonVerMas {
    font-size: 1.3rem;
  }

  .botonVerMas {
    padding: 8px 40px;
    margin: 3% 5%;
  }

  .botonVerMas:hover {
    background-color: #034574;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    align-items: center;
  }

  .logoMarvel {
    width: 150px;
    margin: 0 0 0 20px;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
  }

  .nav-linkMain {
    color: red;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
