* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  height: 30px;
  width: 100vw;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
  color: #ffff;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {
  body {
    background-image: url(./img/logoDC.jpg);
    background-size: 20%;
  }

  .perfil {
    position: absolute;
    top: calc(50% - 15px);
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
  }

  .seccion1 {
    width: 80vw;
    height: 60vh;

    background-color: red;
    background-image: url(./img/superman.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 250%;
    border-radius: 5px;
  }

  .seccion2 {
    width: 80vw;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 5%;
    border-radius: 5px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para pantallas de 769px a 1024px de ancho */
}

@media (min-width: 1025px) {
  /* Estilos para pantallas de 1025px en adelante */
}
