body {
	background-color: black;
	font-family: 'Open Sans',Arial,sans-serif;
}

.main_header{
	background-color: #BBBBBB;
	padding: 20px 0;
	display: block;
}

.container{
	margin: 0 auto;	
	height: 3em;
}

.main_header .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main_header-nav{
	vertical-align: baseline;
}

.main_header-nav-link{
	padding: 10px;
	color: #9799A6;
	background-color: #FFF;
	text-decoration: none;
	background-origin: padding-box;
	border-radius: 3px;
	border-bottom: #9799A6;
}

.logo-marvel{
	width: 170px;
}

.main-tittle{
	font-size: 2em;
	font-weight: bold;
	color: white;
	text-align: center;
}

.captain_Marvel_pic{
	display: block;
	margin: auto;
	width: 400px;
	padding: 2em 0;
	border-radius: 10%;
}
p{
	font-size: 1em;
	color: aliceblue;
	text-align: center;
}